

h1 {
  font-family: 'Martel', serif;
  color: yellowgreen;

}
h2, h3, {
  font-family: 'Martel', serif;
  color: darkSlateblue;
}
p, a {
  font-family: 'Martel', serif;

}
.title-words {
  position: absolute;
  padding-top: 10%;
  margin-left: 5%;
  font-style: italic;

}
header {
  position: relative;
}
img {
  width:100%;
  height: auto;
}
nav {
  position: relative;
  padding: 1rem;
  background-color: lightGray;
  color: darkSlateblue;
}
.checkout {
  color: white;
  position: absolute;
  top: 8rem;
  right: 16rem;
}
.subhead {
  position: relative;
}
[class*="col-"] {
  float: left;
  margin-left: 2%;
  padding: 1%;
  border: 1px solid lightgray;
}
.col-1 {width: 16.66%;}
.col-2 {width: 33.33%;}
.col-3 {width: 50%;}
.col-4 {width: 66.66%;}
.col-5 {width: 83.3%;}
.col-6 {width: 100%;}

.grid-container1 {
  margin-right: 15%;
  margin-left: 16%;
  padding-right: 1%;
  float: left;
  display: grid;
  grid-template-columns: auto auto;
}
.grid-container {
  margin-right: 15%;
  margin-left: 15%;
  align-items: center;
}

.blog-container {
  margin-left: 15%;
  float: left;
  width: 33%;
  padding: 5rem;
}
.button {
  background-color: yellowgreen;
  border: none;
  color: white;
  padding: 1%;
  height: 50%;
  width: 100%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}
.text {
  margin-left: 2%;
}
.card {
  border: 1px;
  border-color: lightGray;
  margin: 2rem
}
.column {
  position: relative;
  flex: 1;
  padding: 1rem;
  height: 5%;
}
footer {
    text-align: center;
    background-color: Midnightblue;
    display: block;
    clear: both;
}
