@media screen and (min-width: 600px) {
  .column {
    width: 100%;
    display: grid;
    margin-bottom: 20px;
  }
}
h1 {
  font-family: 'Martel', serif;
  color: rgb(102, 153, 0);
  font-size: 1rem;

}
h2, h3 {
  font-family: 'Martel', serif;
  color: darkSlateblue;
}
h6 {
  font-family: 'Martel', serif;
  color: darkSlateblue;
  font-size: 1rem;
}
a {
font-family: 'Martel', serif;
font-size: 1rem;
}
h5 {
  font-family: 'Martel', serif;
  color: white;
  font-size: .8rem;
}
p  {
  font-family: 'Martel', serif;
  font-size: .8rem;
}
.form {
  position: relative;
  font-family: 'Martel' , serif;
  margin-left: 25%;
}

.title-words {
  position: absolute;
  padding-top: 5%;
  margin-left: 5%;
  font-style: italic;
}
.logo {
  width: 100%;
}
header {
  position: relative;
}
nav {
  position: relative;
  padding: 1rem;
  background-color: lightGray;
  color: rgb(17, 64, 105);
}
section {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
}
.flex-container
  { display: flex;
    flex-wrap: wrap;
}
div.card {
  clear: both;
}

.header-image {
  width: 35%;
  display: inline-flex;
}
.footnav{
  background-color:rgb(17, 64, 105) ;
  color: white;
}
.checkout {
  color: white;
  display: inline;
  position: absolute;
  top: 8rem;
  right: 16rem;
}
.cart {
  width: 2.5rem;
}
.subhead {
  position: relative;
}
/*.flex-container {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
}*/

.card {
  max-width: 33%;
  min-width: 10%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 2px;
  margin-left: ;
  text-align: left;
  background-color: #f1f1f1;
  border: 1px;
  border-color: lightGray;

  }

.blog-photo {
  float: left;
  clear: left;
  padding: 1rem;
}
.blog {
  margin-left: 25%;
  margin-right: 20%;
  display: inline-block;
}
.blog-text {
  float: right;
  width: 55%;
  padding-left: 10px;
}
.submitbutton {
  background-color: rgb(102, 153, 0);
  border: none;
  color: white;
  padding: 0%;
  height: 100%;
  width: 25%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  cursor: pointer;
}

.button {
  background-color: rgb(102, 153, 0);
  border: none;
  color: white;
  padding: 0%;
  height: 50%;
  width: 100%;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 1rem;
  cursor: pointer;
}
.text, .man-dog {
  margin-left: 25%;
  display: block;
  width: 50%;
}
.column {
  position: relative;
  flex: 3;
  height: 5%;
}
.blog-column {
  position: relative;
  flex: 1;
  height
}
.blog-row {
  float: right;
  max-width: 16%;

}
.footlogo {
  width: 25%;
}
img  {
  width: 100%;
  height: auto;
}

footer {
    text-align: center;
    background-color:rgb(17, 64, 105);
    display: block;
    clear: both;
    color: white;
}
