h1 {
  color: lime;
}
.title-words {
  position: absolute;
  top: 1rem;
  left: 1rem;
}
header {
  position: relative;
}
img {
  width:100%;
  height: auto;
}
nav {
  position: relative;
  padding: 1rem;
  background-color: lightGray;
  color: darkSlateblue;
}
.checkout {
  color: white;
  position: absolute;
  top: 8rem;
  right: 16rem;
}
.intro {
  float: left;
  size: 30%;
}
.subhead {
  position: relative;
  
}

.grid-container1 {
  margin-right: 15%;
  margin-left: 15%;
  float: left;
  display: grid;
  grid-template-columns: auto auto;
}
.grid-container {
  margin-right: 15%;
  margin-left: 15%;
  clear: both;
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.card {
  border: 1px;
  border-color: lightGray;
  margin: 2rem
}

  }
.column {
  position: relative;
  flex: 1;
  padding: 1rem;
  height: 5%;
}
